In [35]:
import numpy as np
import pandas as pd

names_list = ['brownie','cookie','cake', 'cupcake']
print(names_list)

prices_list = [2.25,1.25,9.5, 3.5]
prices_list

quantities_sold_list = [17, 40, 1, 10]
print(quantities_sold_list)

prices_array = np.array(prices_list)
quantities_sold_array = np.array(quantities_sold_list)
print(prices_array)

# both lists and arrays have lengths (len), but only arrays have a shape. 
# unlike lists, arrays can be more than one dimension. Thus arrays have a shape, while lists do not.
# a 1-dimensional array will have a shape that looks like a tuple with the length and just a comma as we see in the output below.


prices_array.shape

['brownie', 'cookie', 'cake', 'cupcake']
[17, 40, 1, 10]
[2.25 1.25 9.5  3.5 ]

(4,)

In [36]:

#pandas has 2 main types: Series and DataFrames
df = pd.DataFrame({'Name': names_list,
                   'Price': prices_list,
                   "Quanitity Sold": quantities_sold_list})

type(df)

df.columns

Index(['Name', 'Price', 'Quanitity Sold'], dtype='object')

In [37]:
df.values

array([['brownie', 2.25, 17],
       ['cookie', 1.25, 40],
       ['cake', 9.5, 1],
       ['cupcake', 3.5, 10]], dtype=object)

In [38]:
df.index

# Note that, by default, we have a RangeIndex, which consists of the bold integers to the left of our baked goods' names.
# We can set one of our columns as the index if we have an alternative column with a unique value for each row. We have such a column, the Name.

RangeIndex(start=0, stop=4, step=1)

In [39]:
df.set_index("Name")
#this is only temporary if we check the df.index again it will go back to the same results above.
#we can overwrite the existing dataframe by using df=

         Price  Quanitity Sold
Name
brownie   2.25              17
cookie    1.25              40
cake      9.50               1
cupcake   3.50              10

In [40]:
df = df.set_index("Name")
df.index

#ALERT!!!! you may see df = df.set_index("Name, inplace=True") <-- Not recommended and if you do another df afterwards like below it will replace all your data with nothing.

Index(['brownie', 'cookie', 'cake', 'cupcake'], dtype='object', name='Name')

In [41]:
df

         Price  Quanitity Sold
Name
brownie   2.25              17
cookie    1.25              40
cake      9.50               1
cupcake   3.50              10