In [1]:
import numpy as np
import pandas as pd

names_list = ['brownie','cookie','cake', 'cupcake']
print(names_list)

prices_list = [2.25,1.25,9.5, 3.5]
prices_list

quantities_sold_list = [17, 40, 1, 10]
print(quantities_sold_list)

prices_array = np.array(prices_list)
quantities_sold_array = np.array(quantities_sold_list)
print(prices_array)

# both lists and arrays have lengths (len), but only arrays have a shape. 
# unlike lists, arrays can be more than one dimension. Thus arrays have a shape, while lists do not.
# a 1-dimensional array will have a shape that looks like a tuple with the length and just a comma as we see in the output below.


prices_array.shape

['brownie', 'cookie', 'cake', 'cupcake']
[17, 40, 1, 10]
[2.25 1.25 9.5  3.5 ]

(4,)

In [2]:

#pandas has 2 main types: Series and DataFrames
df = pd.DataFrame({'Name': names_list,
                   'Price': prices_list,
                   "Quantity Sold": quantities_sold_list})

type(df)

df.columns

Index(['Name', 'Price', 'Quantity Sold'], dtype='object')

In [3]:
df.values

array([['brownie', 2.25, 17],
       ['cookie', 1.25, 40],
       ['cake', 9.5, 1],
       ['cupcake', 3.5, 10]], dtype=object)

In [4]:
df.index

# Note that, by default, we have a RangeIndex, which consists of the bold integers to the left of our baked goods' names.
# We can set one of our columns as the index if we have an alternative column with a unique value for each row. We have such a column, the Name.

RangeIndex(start=0, stop=4, step=1)

In [5]:
df.set_index("Name")
#this is only temporary if we check the df.index again it will go back to the same results above.
#we can overwrite the existing dataframe by using df=

         Price  Quantity Sold
Name
brownie   2.25             17
cookie    1.25             40
cake      9.50              1
cupcake   3.50             10

In [6]:
df = df.set_index("Name")
df.index

#ALERT!!!! you may see df = df.set_index("Name, inplace=True") <-- Not recommended and if you do another df afterwards like below it will replace all your data with nothing.

Index(['brownie', 'cookie', 'cake', 'cupcake'], dtype='object', name='Name')

In [7]:
df

         Price  Quantity Sold
Name
brownie   2.25             17
cookie    1.25             40
cake      9.50              1
cupcake   3.50             10

In [8]:
df['Price']

Name
brownie    2.25
cookie     1.25
cake       9.50
cupcake    3.50
Name: Price, dtype: float64

In [9]:
sliced = df['Price']
sliced

Name
brownie    2.25
cookie     1.25
cake       9.50
cupcake    3.50
Name: Price, dtype: float64

In [10]:
type(sliced)

pandas.core.series.Series

In [11]:
df_slice = df[['Price']]
df_slice

         Price
Name
brownie   2.25
cookie    1.25
cake      9.50
cupcake   3.50

In [12]:
df.shape

(4, 2)

In [13]:
sliced.shape

(4,)

In [14]:
sliced.name

'Price'

In [15]:
sales = df['Price'] * df['Quantity Sold']
sales

Name
brownie    38.25
cookie     50.00
cake        9.50
cupcake    35.00
dtype: float64

In [16]:
type(sales)

#series is one column and a dataframe is more than one column

pandas.core.series.Series

In [19]:
#set sales as a new column
df['Sales'] = df['Price'] * df['Quantity Sold']

#getting the sum of a series

df['Sales'].sum()

132.75

In [20]:
#creating a panda series called expenses
expenses = pd.Series({'brownie':0.25, 'cookie':0.5, 'cake':5, 'cupcake': 0.75},
                     name='Expenses')
expenses

brownie    0.25
cookie     0.50
cake       5.00
cupcake    0.75
Name: Expenses, dtype: float64

In [21]:
#add new columns we use axis=1 if want to add new rows axis=0
# saving our combined data as df
df = pd.concat([df, expenses], axis=1)
df

         Price  Quantity Sold  Sales  Expenses
brownie   2.25             17  38.25      0.25
cookie    1.25             40  50.00      0.50
cake      9.50              1   9.50      5.00
cupcake   3.50             10  35.00      0.75

In [22]:
# Calculate profit and define it as new column
df['Profit Per Item'] = df['Price'] - df['Expenses']
df

         Price  Quantity Sold  Sales  Expenses  Profit Per Item
brownie   2.25             17  38.25      0.25             2.00
cookie    1.25             40  50.00      0.50             0.75
cake      9.50              1   9.50      5.00             4.50
cupcake   3.50             10  35.00      0.75             2.75

In [24]:
# Calculate the profit per type of baked good and define as a column
df["Profits"] = df['Profit Per Item'] * df['Quantity Sold']
df

         Price  Quantity Sold  Sales  Expenses  Profit Per Item  Profits
brownie   2.25             17  38.25      0.25             2.00     34.0
cookie    1.25             40  50.00      0.50             0.75     30.0
cake      9.50              1   9.50      5.00             4.50      4.5
cupcake   3.50             10  35.00      0.75             2.75     27.5

In [25]:
total_profit = df['Profits'].sum()
total_profit

96.0

In [26]:
total_profit/1000

0.096