In [1]:
import numpy as np
import pandas as pd

df.head() to preview the first 5 rows.

df.tail() to preview the last 5 rows.

df.info() to obtain a summary table with information about every colum

# Slicing

In [2]:
ins_df = pd.read_csv('./insurance_mod.csv')
ins_df.head()

   age     sex     bmi  children  smoker     region  charges
0   19  female  27.900         0       1  southwest  16885.0
1   18    male  33.770         1       0  southeast   1726.0
2   28    male  33.000         3       0  southeast   4449.0
3   33    male  22.705         0       0  northwest  21984.0
4   32    male  28.880         0       0  northwest   3867.0

In [3]:
sliced = ins_df.loc[50]
sliced
#series

age                18
sex            female
bmi            35.625
children            0
smoker              0
region      northeast
charges        2211.0
Name: 50, dtype: object

In [4]:
sliced2 = ins_df.loc[[50]]
sliced2
#dataframe

    age     sex     bmi  children  smoker     region  charges
50   18  female  35.625         0       0  northeast   2211.0

In [5]:
customer_gender = ins_df.loc[20]['sex']
customer_gender

'female'

In [6]:
smokers = ins_df['smoker']
smokers

0       1
1       0
2       0
3       0
4       0
       ..
1333    0
1334    0
1335    0
1336    0
1337    1
Name: smoker, Length: 1338, dtype: int64

In [7]:
smokers1 = ins_df.loc[:, 'smoker']
smokers1
#: gets all in that column

0       1
1       0
2       0
3       0
4       0
       ..
1333    0
1334    0
1335    0
1336    0
1337    1
Name: smoker, Length: 1338, dtype: int64

In [8]:
smokers = ins_df['smoker']
smokers
smokers.sum()
smokers.mean()

0.20478325859491778

# FILTERING

1) Create a filter variable called under_30_filter for rows where the age is less than 30

View/display the under_30 filter to see the boolean index

How many customers are under the age of 30? (Calculate the sum of the True values for the under_30 filter.)

Use the filter to view only the rows with customers who are under 30.

In [9]:
under_30_filter = ins_df.loc[:,'age'] < 30
under_30_filter

0        True
1        True
2        True
3       False
4       False
        ...
1333    False
1334     True
1335     True
1336     True
1337    False
Name: age, Length: 1338, dtype: bool

In [10]:
under_30_filter.sum()

417

In [11]:
ins_df[ins_df['age'] < 30]
#taking a boolean series and bringing back all rows that exist.

      age     sex     bmi  children  smoker     region  charges
0      19  female  27.900         0       1  southwest  16885.0
1      18    male  33.770         1       0  southeast   1726.0
2      28    male  33.000         3       0  southeast   4449.0
10     25    male  26.220         0       0  northeast   2721.0
12     23    male  34.400         0       0  southwest   1827.0
...   ...     ...     ...       ...     ...        ...      ...
1328   23  female  24.225         2       0  northeast  22396.0
1331   23  female  33.400         0       0  southwest  10796.0
1334   18  female  31.920         0       0  northeast   2206.0
1335   18  female  36.850         0       0  southeast   1630.0
1336   21  female  25.800         0       0  southwest   2008.0

[417 rows x 7 columns]

2) Create a filter for males

View the filter to see the boolean index

How many customers are male? (Calculate the sum of True values in the male_filter.)

Use the filter to view only the rows that are male.

In [12]:
all_males = ins_df.loc[:,'sex'] == 'male'
all_males

0       False
1        True
2        True
3        True
4        True
        ...
1333     True
1334    False
1335    False
1336    False
1337    False
Name: sex, Length: 1338, dtype: bool

In [13]:
all_males.sum()

676

In [14]:
ins_df[ins_df['sex'] == 'male']

      age   sex     bmi  children  smoker     region  charges
1      18  male  33.770         1       0  southeast   1726.0
2      28  male  33.000         3       0  southeast   4449.0
3      33  male  22.705         0       0  northwest  21984.0
4      32  male  28.880         0       0  northwest   3867.0
8      37  male  29.830         2       0  northeast   6406.0
...   ...   ...     ...       ...     ...        ...      ...
1324   31  male  25.935         1       0  northwest   4240.0
1325   61  male  33.535         0       0  northeast  13143.0
1327   51  male  30.030         1       0  southeast   9378.0
1329   52  male  38.600         2       0  southwest  10325.0
1333   50  male  30.970         3       0  northwest  10601.0

[676 rows x 7 columns]

3) Combine the under_30_filter and the male_filter to create a single filter called under_30_male_filter

Display the boolean index of the under_30_male_filter

How many customers are both under 30 years old and male? (Calculate the sum of the under_30_male_filter True values)

Use the combined filter to view only the rows that are under 30 years old and male.

In [15]:
under_30_male_filter = all_males & under_30_filter
under_30_male_filter

#combining two filters

0       False
1        True
2        True
3       False
4       False
        ...
1333    False
1334    False
1335    False
1336    False
1337    False
Length: 1338, dtype: bool

In [16]:
ins_df.loc[under_30_male_filter]

      age   sex     bmi  children  smoker     region  charges
1      18  male  33.770         1       0  southeast   1726.0
2      28  male  33.000         3       0  southeast   4449.0
10     25  male  26.220         0       0  northeast   2721.0
12     23  male  34.400         0       0  southwest   1827.0
14     27  male  42.130         0       1  southeast  39612.0
...   ...   ...     ...       ...     ...        ...      ...
1292   21  male  23.210         0       0  southeast   1515.0
1295   20  male  22.000         1       0  southwest   1965.0
1296   18  male  26.125         0       0  northeast   1709.0
1315   18  male  28.310         1       0  northeast  11272.0
1317   18  male  53.130         0       0  southeast   1163.0

[216 rows x 7 columns]

4. Create a filter for regions that contain south using .str.contains

Use the filter to view only the rows with regions containing "south."

In [17]:
regions_filter = ins_df['region'].str.contains('south')
ins_df[regions_filter]

      age     sex    bmi  children  smoker     region  charges
0      19  female  27.90         0       1  southwest  16885.0
1      18    male  33.77         1       0  southeast   1726.0
2      28    male  33.00         3       0  southeast   4449.0
5      31  female  25.74         0       0  southeast   3757.0
6      46  female  33.44         1       0  southeast   8241.0
...   ...     ...    ...       ...     ...        ...      ...
1330   57  female  25.74         2       0  southeast  12629.0
1331   23  female  33.40         0       0  southwest  10796.0
1332   52  female  44.70         3       0  southwest  11412.0
1335   18  female  36.85         0       0  southeast   1630.0
1336   21  female  25.80         0       0  southwest   2008.0

[689 rows x 7 columns]

# Group By

**Get the unique values and their count for the Student column**

value_counts()

**Use normalize = True to output a ratio**

value_counts(normalize=True)

**Obtain the sum across rows**

df[filter_quantity_cols].sum(axis=1)

** 1. What is the average age for the entire data set?**

In [32]:
average_age = ins_df['age'].mean().round(0)
average_age

39.0

**2. What is the age of the oldest person in the entire data set (the maximum age)?**

In [27]:
ins_df['age'].max()

64

**3. What is the age of the youngest person in the entire data set(the minimum age)?**

In [28]:
ins_df['age'].min()

18

**4. What is the average for charges for the entire data set?**

In [34]:
ins_df['charges'].mean()

13270.414798206279

**5. What is the average for charges grouped by sex?**

In [43]:
average_charges = ins_df.groupby("sex")['charges'].mean().round(0)
average_charges

sex
female    12570.0
male      13957.0
Name: charges, dtype: float64

**6. What is the average for charges, grouped by if the person is a smoker?**

In [45]:
average_smoker = ins_df.groupby("smoker")['charges'].mean().round(0)
average_smoker

smoker
0     8434.0
1    32050.0
Name: charges, dtype: float64

**7. What is the average for charges grouped by if the person smokes and their sex?**

In [52]:
average_group = ins_df.groupby(["smoker", "sex"])["charges"].mean().round(0)
average_group

smoker  sex
0       female     8762.0
        male       8087.0
1       female    30679.0
        male      33042.0
Name: charges, dtype: float64